

.product-card {
    width: 80%;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    justify-self: center;
    background: #002E94;
    height: auto;
}



.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 20px;
    background: #002E94;
}

.product-tumb img {
    width: 150px;
   
}

.product-card .description{
  height: 90px;
  background-color: #2797AA;
}


.Product_Name{
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}

hr{
    width: 90%;
}

.price{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    font-weight: bold;
    margin-top: 0px;
}




